<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 将数据库字段命名规则A_COLUMN转换为Java使用的驼峰式命名规则aCloumn -->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <!-- 打开二级缓存 -->
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeAliases>
        <!-- 指定实体所在的包路径，mybatis会自己到这里来找 -->
        <package name="com.iflytek.sys.bean"/>
    </typeAliases>
    <!-- 插件 -->
    <plugins>
        <!--设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration> 
