
body {
	/* 去掉浏览器的边框 */
	margin: 0px;
	padding: 0px;
}

#top {
	background-image: url(../images/bg1.jpg);
	height: 175px;
	width: 100%;
	background-size: 100%;
	/* 背景定位 */
	background-position: 0px -130px;
	/* 内容居中 */
	text-align: center;
}

#title {
	/* 字体大小 */
	font-size: 32px;
	font-family: "隶书";
}

#logout {
	float: right;
	margin-right: 20px;
	margin-top: 80px;
}

a,span {
	color: red;
	font-weight: bold;
	text-decoration: none;
}